<HTML>
	<body>
		<h1>Hello ${name},</h1>
		<p>Welcome to <b>Amazon AWS Lambda.</b></p>
		<br>
		<br>
		<br><p> ${body}</p>
		<br>
		<br>
		<br>
		<p>Thanks & Regards</p><br>
		<p>${sender}
	</body>
</HTML>